.navbar {
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  .spacer{
    flex: 1;
  }

  .hidden{
    visibility: hidden;
  }

  .page-title {
    flex: 1;
    font-weight: 700;
    font-size: 1.25rem;
  }

  .navbar-icon-btn{
    margin-right: 1rem;
  }
}
