.sidenav-container {
  height: 100vh;
  
  .sidenav-drawer {
    width: 250px;
    background: var(--color-sidebar-bg);
    color: var(--color-sidebar-text);
  }

  .content {
    padding: 1rem;

    @media (max-width: 768px){
      padding: 0;
    }

    .page-title{
      margin-inline: 1.5rem;
    }
  }
}
