.stats-card{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  .stats-label{
    min-height: 2rem;
    place-content: center;
  }

  &.dashboard {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-text-light);

    .stats-label{
      font-size: 0.9rem;
      text-transform: uppercase;
    }
    .stats-value{
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  &.projects{
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding-inline: 2rem;

    mat-card-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      gap: 1rem;

      .stats-value{
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
    