.stats-card{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  &.dashboard {
    text-align: center;
    padding: 0.5rem;
    color: var(--color-secondary);
    box-shadow: none;
    border: none;

    .stats-content{
      display: flex;
      flex-direction: column;

      .stats-label{
        font-size: 0.9rem;
        min-height: 3rem;
        place-content: center;
      }
  
      .stats-value{
        font-size: 2.5rem;
        font-weight: 700;
      }
    }
  }
  
  &.projects{
    min-height: 120px;
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding-inline: 2rem;

    .stats-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 1rem;

      .stats-value{
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
    