<profile-card-component
  title="Certifications"
  [showButton]="isButtonVisible"
  (viewAllClicked)="onCardViewClicked()"
>
  <div class="cert-list-item" card-content>
    @for(cert of certifications; track cert){
    <div class="cert-item">
      <img [src]="cert.logo" alt="{{ cert.issuer }} logo" class="cert-logo" />
      <div class="cert-details">
        <h3 class="cert-title">{{ cert.title }}</h3>
        <p class="cert-issuer">{{ cert.issuer }} - {{ cert.date }}</p>
      </div>
    </div>
    }
  </div>
</profile-card-component>
