<profile-card-component
  title="Experience"
  [showButton]="isButtonVisible"
  (viewAllClicked)="onCardViewClicked()"
>
  <div class="timeline" card-content>
    @for(exp of experiences; track exp.company){
    <div class="timeline-item">
      <div class="timeline-content">
        <h3 class="timeline-title">
          {{ exp.role }}
          <span class="company">{{ exp.company }}</span>
        </h3>
        <p class="timeline-date">{{ exp.start }} – {{ exp.end }}</p>

        @if(showDetails) {
        <p class="timeline-description">{{ exp.description }}</p>
        }
      </div>
    </div>
    }
  </div>
</profile-card-component>
