.dashboard {
  padding: 1rem;
  display: grid;
  gap: 2rem;

  .hero {
    .hero-card{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      padding: 1.5rem;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);

      .hero-card-content {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;

        .hero-img{
          display: flex;
          justify-content: center;

          .profile-img{
            border-radius: 50%;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            object-fit: cover;
          }
        
        }
        .hero-info {

          h2 {
            font-size: 1.5rem;
            margin-block: 0.25rem;

            .highlight-name {
              color: var(--color-primary);
              font-weight: 700;
            }
          }

          .role {
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--color-accent);
          }

          .note {
            font-size: 0.85rem;
            margin: 0;
            color: #666;
          }

          .hero-actions {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            margin-top: 1rem;

            button{
              font-size: 0.85rem;
            }

            @media (max-width: 425px){
              justify-content: center;
              
              button{
                width: 100%;
              }
            }
          }
        }

        @media (max-width: 425px) {
          flex-direction: column;
          text-align: center;
          padding: 0; 
        }
      }

      .stats{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      @media (max-width: 768px){ 
        flex-direction: column;
      }
    }
  }
}