.about-wrapper{
  display: grid;
  grid-template-areas: 
  "experience certification"
  ;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media (max-width: 1024px) {
    grid-template-areas:
      "experience"
      "certification";
    grid-template-columns: 1fr;
  }
}