.sidenav-menu {
  list-style: none;
  padding: 0.75rem 1rem;
  position: relative;

  .sidenav-item{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;

    &.active, &:hover{
      color: var(--color-sidebar-text-active);
      background-color: rgba(197, 176, 205, 0.2);

      .sidenav-icon{
        color: var(--color-sidebar-icon-active);
      }
    }

    .sidenav-icon {
      color: var(--color-sidebar-icon);
      font-size: 24px;
    }
  }
}
